@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lexend+Giga:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #f4f4f4;
    overflow: auto;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100vh;
    border-right: 1px solid #b8b8b8;
    background-color: #fff;
    z-index: 1000;
}

.brgy-logo {
    display: flex;
    padding: 20px 0;
    align-items: center;
    margin: 0 30px;
    gap: 10px;
    width: 180px;
    border-bottom: 1px solid #b8b8b8;
}

.brgy-logo img {
    height: 30px;
}

.brgy-logo h2 {
    font-size: 20px;
}

.nav {
    width: 100%;
    padding: 20px 30px;
}

.nav ul li {
    list-style: none;
}

.nav a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 18px;
    color: inherit;
    gap: 10px;
    padding: 0 10px;
    border-radius: 3px;
}

.nav .seperator {
    font-size: 14px;
    font-family: 'Lexend Giga', sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
}

.nav .active {
    font-weight: 800;
    background-color: #f5f5f5;
}

.nav a:hover {
    background: #f5f5f5;
}

.seperator {
    padding-left: 10px;
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

.menu li:hover {
    background-color: #f5f5f5;
}

.menu li a {
    width: 100%;
}

.menu img {
    height: 12px;
    padding-left: 10px;
}

.session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    padding: 20px 30px;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.user:hover {
    background: #e0e0e0;
}
.user a {
    text-decoration: none;
    display: flex;
    color: inherit;
    gap: 10px;
    align-items: center;
}

.session .user p {
    font-size: 16px;
}

.user img {
    height: 20px;
}

.main {
    margin-left: 240px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    position: static; 
    padding: 20px 0;
    margin: 0 30px;
    justify-content: space-between;
    border-bottom: 1px solid #b8b8b8;
}

header h2 {
    font-size: 20px;
}

.stats {
    display: flex;    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
    gap: 20px;
}

.cards {
    display: flex;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex: 1;
    border-radius: 6px;
    max-width: 400px;
    border: 1px solid #b8b8b8;
    transition: all 0.3s ease;
}

.cards img {
    height: 150px;
}

.cards h1 {
    font-size: 50px;
}

.cards:nth-child(1) {
    background-color: #dbf4d2;
}

.cards:nth-child(1):hover {
    background-color: #c8f3b8;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cards:nth-child(2) {
    background-color: #f4e7d2;
}

.cards:nth-child(2):hover {
    background-color: #f1dcba;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cards:nth-child(3) {
    background-color: #d2d7f4;
}

.cards:nth-child(3):hover {
    background-color: #bcc4f1;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content {
    margin: 0 30px;
}

footer {
    margin-top: auto;
    padding: 15px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #ffaaaa, #f4f4f4, #f4f4f4);
    align-items: center;
}

.bsu-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.bsu-logo img {
    height: 30px;
}

h3 {
    margin: 20px 0 0 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #b8b8b8;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #b8b8b8;
}

th {
    background-color: #ffffff;
}

.gender {
    display: flex;
    align-items: center;
    gap: 10px;
}

.actions {
    display: flex;
    gap: 5px;
}

.bx {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    margin-top: 20px;
}

form input[type="text"] {
    padding: 10px;
    width: 400px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

form button:hover {
    background-color: #3498db;
}

.actions {
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}

.actions a {
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border-radius: 4px;
}

.actions a:hover {
    background-color: #f4f4f4;
}

.view-action {
    display: flex;
    gap: 5px;
    align-items: center;
}

.edit-action {
    display: flex;
    gap: 5px;
    align-items: center;
}

.delete-action {
    display: flex;
    gap: 5px;
    align-items: center;
}

.view-action:hover .view-image {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAntJREFUSEvtlTtoVFEQhr85czciRoUIIgFFBZ9NRG3UxqCFkkIrn2ghajqfuz4QMWCTkI2roo2CjRHRzgdWIj6CKaIIgo2PoCL4KBRMEMy954zumsTsbsySIp23PGfOfDP/Of9cYYw/GeP8/AdUVHhkiVqs1mnYLFgDMAOY1p/xE/DeRG6H4NrJyJd/kYYHnLIaDf4k0AhohTITwc4nPjrOYekpjS0H5GyBen8XqAX6EC4Q6HQSXsWaepVPkPLxnICbi7ECYXd/Ed0+0XqOyPuhkGJAzmaq90+AKcBjH3Q7h+TNiB202Dyn4YpgS4APPtKl7JPPA2f+AposctWhS7BFwEM/UVfTKHEhMGez1ftzCGswegW7lKRT+wbBp2y8C6FTsDqMBz4TrSwDuFZ/WMSagbc+1sUclW8DQZpN7gBri1u3M0WQZpuhkX8G1ADbfTq6nI8f7ECzSTcwC2GdPxjdHJpM25KAlZmyx6ejSUVx2WQncNGQpyGtS4sAUTZ+YchCjI0+E10vOfgdmFhyF8MBtgLthjwPaa0r7qA12YRwtXBRTus4IF8HEkbZ+LQhe0eUqMVqVQsSTcVY7zPRjSIATea02ncAyxAe+elazwbxJZAdfw6VXPJZG+fi8FjMFgP3fDpaVf6K8ivNNlnV30XI69fhVbexX96O4pne973aQJP8GB6QX221CSr+FlCfN1repYZ0OcLLOEm9JhClquLZATcfWA7s6jfaTV+lG9gjP/9ttIGd66bRu+SEiRwDXIVR0WfIkZDW3HBxIw+7NpvuQtgiYmsKw06YhmG/Z9THvF/M5FZIuWtDnVt5FlUod7Tb//9oFRUbc4l+AVmV9xlXkvrBAAAAAElFTkSuQmCC");
}

.view-link .view-action:hover {
    color: #038cfc;
}

.edit-action:hover .edit-image {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAitJREFUSEu1lT9v00AYxp87J2dFdAEhGFr+FNHGLQQ6VipqgliQkEBVyAADX4GZhYUFVr4DYihOKgZgaiv+7kWRbFSgRQSJioGhwfa59qFzHOSYNLFdxePp7ve75733fAQj/siI+Ti4oFljLOddg48CH1MaOLFsRTfdI2DGzRuAeAhAG5DMB8gdrj17go3bhxlzVgHMhfNNrnrzmFz53V0fE1S/AxhPBG/WjjDFl/CLAFoAdgEUAfGBK9ZlTL10JCcuEHKQa/rg0pm3jjLBJbwEgU3q0ys23WszQuXYBQLcdTT9cSbB2ObSMb5H1wHMhEk/K4qoWFAc5gWJzgPiAdfq91MLDn28ftzN59c6cPIDEG0AUwBkaf8AmBbAjprzS7tnGzupBCH8PYAzsubUFws5Jizu0jUQzIZpWpSKRXu6/mW/Q+57BgWzNu4J/3UUbs/Wt4MuUp03EDjXlQbjkW/oIYfwdwBO9UB64dvUF2UJV42lq47WeJUoQVK4QuiCVVxuSbgAbXBNLyQSMKP6FcBpAN+o8Mr2zMoWYi2qUFqRcAlkRtUGoEbbfGCJmFENzkQhdCKASDj4eljzT3nXXWyXnv/s7rY7P7UgWNDZ+dvObYWZd91yFB4m+K9JEiWI/TpMTtglFJ/+iv9SMif4ByJocrBKP3imBGnfitQJRiGQt/BkWnBs/hbX9Ml97kHw4DwKOyWLZ4MQ3HOK+ou+gizEYWsO/iYPMYxc8BcNoUIooyB3NQAAAABJRU5ErkJggg==");
}

.edit-link .edit-action:hover {
    color: #04cf4e;
}

.delete-action:hover .delete-image {
    content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAALhJREFUSEtjZKAxYKSx+Qx4LXjCxhbyn5GxhYGBQR2HQ24y/v9fI/Pr1xpcDsVrwWN29qsMDAxaBHx5TfbnT21yLfgP0ij78ydWhzxmZ8crD9JLyAfUtQDmIkojHtnHKD6guQUwlxMTtsi+xKee7MijqgXoLiTER7acKB8QMpDiIBq1ACNfkRoko3FAsGiiOIgI2UCOBcRUNOj2Yq14sOZkaFXZzsDAoELI9VB5nFXnwFb6RLoerzIAdp7UGVarh2AAAAAASUVORK5CYII=");
}

.delete-link .delete-action:hover {
    color: #e30707;
}